<!DOCTYPE html>
<html>
<head>
    <title>Admin Login</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-100 flex items-center justify-center h-screen">

<div class="bg-white p-8 rounded-xl shadow-md w-96">

    <h2 class="text-2xl font-bold text-center mb-6">Admin Login</h2>

    <form method="POST">

        <input name="username"
               placeholder="Username"
               class="w-full p-3 border rounded mb-4">

        <input type="password"
               name="password"
               placeholder="Password"
               class="w-full p-3 border rounded mb-4">

        <button class="w-full bg-[#3b0a0f] text-white py-3 rounded">
            Login
        </button>

    </form>

</div>

</body>
</html>